@import url('https://fonts.googleapis.com/css?family=Staatliches');

.home {
    background-size: auto;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
        background-position: center top;
  
}

.lobster{
   font-family: 'Staatliches', cursive;
}

.opensans{
    font-family: 'Open Sans', sans-serif;
}



