@import url('https://fonts.googleapis.com/css?family=Staatliches');

.home {
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
  
}

.lobster{
   font-family: 'Staatliches', cursive;
}

.opensans{
    font-family: 'Open Sans', sans-serif;
}