
.loginButton {
  border: none;
  background-color: #62010C;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  width: 250px;
  padding: 5px 10px;
}

.loginButton:hover {

  background-color: #DD1F29;
  color: #ffffff;
  padding: 5px 10px;
}

.loginButton:disabled,
.loginButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.logo {
    display:block;
    margin: 0 auto;
    width: 200px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.center-block {
  margin: auto;
  display: block;
}

.inputStyle {
    width: 250px; 
    height: 40px; 
    border: 1px solid #999999; 
    padding: 5px; 
    font-size: 26px;
}

.linkStyle{
    text-decoration: none;
    color: white;
}
.linkStyle:hover{
    text-decoration: none;
    color: white;
}