

.blackbg { 
    background-color: black;
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
}


.logo {
    display:block;
    margin: 0 auto;
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.center-block {
  margin: auto;
  display: block;
}

.inputStyle {
    width: 250px; 
    height: 40px; 
    border: 1px solid #999999; 
    padding: 5px; 
    font-size: 26px;
}

.linkStyle{
    text-decoration: none;
    color: white;
}
.linkStyle:hover{
    text-decoration: none;
    color: white;
}